OURA_TOKEN=ZS2OYSHW52HW3P6TFRF4UPDYJW32VYRD
INFLUX_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUX_TOKEN=F3Ev0UmChspm0164zprqsucTe3BtMzFCJdNs3vmSSCGG7Xh3GmNwexM2r41qjKGPlXgAbVrF8pxZ4dxyk8wiDw==
INFLUX_ORG=MFO
INFLUX_BUCKET=oura_health
ANTHROPIC_API_KEY=your_anthropic_key_here
PORT=3001
CRON_SCHEDULE=0 8 * * *